### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load
file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file)

## Player Count

* Display the total number of players

In [2]:
#Count number of unique players by the SN (Screen Name)
ttl_players = len(purchase_data["SN"].value_counts())
#total_revenue = purchase_date["Price"].sum()

players_count = pd.DataFrame({"Total Player":[ttl_players]})
players_count

   Total Player
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Do the calculations
unique_items = len(purchase_data["Item ID"].value_counts())
average_price = purchase_data["Price"].mean()
purchase_count = purchase_data["Purchase ID"].count()
ttl_revenue = purchase_data["Price"].sum()

#DataFrame build of the purchasing analysis total calculations
analysis_summary = pd.DataFrame({"Number of Unique Items":[unique_items],
                           "Average Price":[average_price],
                           "Number of Purchases":[purchase_count],
                           "Total Revenue":[ttl_revenue]})

#Formatting for monetary values
analysis_summary.style.format({"Average Price": "${:,.2f}",
                              "Total Revenue": "${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#Group the genders
gender_data = purchase_data.groupby("Gender")

#Filter out the duplicate purchasers
gender_breakdown = gender_data["SN"].nunique()

#Do the calculations
gender_percent = gender_breakdown / ttl_players * 100

#DataFrame build of the gender demographics calculations
gender_summary = pd.DataFrame({"Total Count":gender_breakdown,
                           "Percentage of Players":gender_percent})
#Hide the Gender column name
gender_summary.index.name = None

#Formatting for percentage values and printing
gender_summary.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Do the calculations
gender_purchase = gender_data["Purchase ID"].count()
gender_purchase_avg = gender_data["Price"].mean()
gender_purchase_ttl = gender_data["Price"].sum()

purchase_avg_indv = gender_purchase_ttl / gender_breakdown

#DataFrame build of the gender purchasing analysis by gender calculations
gender_purchase_summary = pd.DataFrame({"Purchase Count":gender_purchase,
                               "Average Purchase Price":gender_purchase_avg,
                               "Total Purchase Value": gender_purchase_ttl,
                              "Avg total Purchase per Person": purchase_avg_indv})

#Formatting for monetary values and printing
gender_purchase_summary.style.format({"Average Purchase Price": "${:,.2f}",
                                      "Total Purchase Value": "${:,.2f}",
                                     "Avg total Purchase per Person": "${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
#Create bin and labels
bins = [0,9,14,19,24,29,34,39,100]

group_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

#Slice
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins,labels=group_labels)

#Group the ages
age_group = purchase_data.groupby("Age Group")

#Do the calculations
age_counts = age_group["SN"].nunique()
age_percent = age_counts / ttl_players * 100

#DataFrame build of the age demographics
age_purchase_summary = pd.DataFrame({"Total Count":age_counts,
                               "Percentage of Players":age_percent})

#Hide the age column name
age_purchase_summary.index.name = None

#Formatting for percentage values and printing
age_purchase_summary.style.format({"Percentage of Players": "{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#Do the calculations
age_purchase = age_group["Purchase ID"].count()
age_purchase_avg = age_group["Price"].mean()
age_purchase_ttl = age_group["Price"].sum()

purchase_avg_indv = age_purchase_ttl / age_counts

#DataFrame build of the purchasing analysis by age calculations
age_purchase_summary = pd.DataFrame({"Purchase Count":age_purchase,
                               "Average Purchase Price":age_purchase_avg,
                               "Total Purchase Value": age_purchase_ttl,
                              "Avg total Purchase per Person": purchase_avg_indv})

#Formatting for monetary values and printing
age_purchase_summary.style.format({"Average Purchase Price": "${:,.2f}",
                                      "Total Purchase Value": "${:,.2f}",
                                     "Avg total Purchase per Person": "${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
#Group the SN
top_purchase_names = purchase_data.groupby("SN")

#Do the calculations
top_purchase = top_purchase_names["Purchase ID"].count()
top_purchase_avg = top_purchase_names["Price"].mean()
top_purchase_ttl = top_purchase_names["Price"].sum()

#DataFrame build of the top spenders calculations
total_purchase_summary = pd.DataFrame({"Purchase Count":top_purchase,
                                       "Average Purchase Price":top_purchase_avg,
                                       "Total Purchase Value": top_purchase_ttl})

#Formatting for sorting, monetary values, and printing
total_purchase_summary.sort_values(["Total Purchase Value"], ascending = False).head(5).style.format({"Average Purchase Price": "${:,.2f}",
                                      "Total Purchase Value": "${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
#Group the Item ID and Item Name
top_item_names = purchase_data.groupby(["Item ID","Item Name"])

#Do the calculations
top_item = top_item_names["Purchase ID"].count()
top_item_ttl = top_item_names["Price"].sum()

top_item_avg = top_item_ttl / top_item

#DataFrame build of the most popular items calculations
total_item_summary = pd.DataFrame({"Purchase Count":top_item,
                                   "Item Price":top_item_avg,
                                   "Top Purchase Value":top_item_ttl})

#Formatting for sorting, monetary values, and printing
total_item_summary.sort_values(["Purchase Count"], ascending = False).head(5).style.format({"Item Price": "${:,.2f}",
                                      "Top Purchase Value": "${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [11]:
#Formatting for sorting, monetary values, and printing
total_item_summary.sort_values(["Top Purchase Value"], ascending = False).head(5).style.format({"Item Price": "${:,.2f}",
                                      "Top Purchase Value": "${:,.2f}"})